.main__container{
    background-color: rgb(32, 33, 36);
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
    min-width: fit-content;
}

.info{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
}

.info__container{
    width: 30vw;
}

.chart__container{
    width: 65vw;
}

.comparision__container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.comparision__text_box{
    margin-left: 5vw;
    width: 200px;
    height: 45px;
    background: rgb(32, 33, 36);
    border: 4px solid rgb(48, 47, 47);
    border-radius: 6px;
    outline: none;
    font-size: larger;
    color: whitesmoke;
    padding-left: 10px;
}

h2{
    color: whitesmoke;
    margin-left: 5vw;
    margin-bottom: 10px;
}

.filtered__text{
    width: 200px;
    height: 250px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 5vw;
    background: rgb(48, 47, 47);
    color: whitesmoke;
    overflow-y: scroll;
    padding-left: 10px;
}

.stock__name{
    margin-top: 8px;
}

.stock__name:hover{
    color: #1274ED;
}

@media(max-width:600px){
    .chart__container{
        width: 95vw;
    }
    .info{
        flex-direction: column;
        margin-left: 5vw;
    }
    .info__container{
        width: 75vw;
    }
}