.main__container{
    margin-top: 4.75rem;
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
    min-width: fit-content;
}

.info{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
}

.info__container{
    width: 30vw;
}

.chart__container{
    width: 65vw;
}

.button__container{
    width:400px;
    height:60px;
    display:flex;
    justify-content:space-around;
    margin-left: 25px;
}

.stock__name{
    margin-top: 8px;
}

.stock__name:hover{
    color: #1274ED;
}

@media(max-width:600px){
    .chart__container{
        width: 95vw;
    }
    .info{
        flex-direction: column;
        margin-left: 5vw;
    }
    .info__container{
        width: 75vw;
    }
}